#auth {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-banner {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}
.auth-banner .banner-part {
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(45deg, #1c160f, #797f54 90%);
    align-self: stretch;
    position: absolute;
    overflow: hidden;
    mask: linear-gradient(
        to top,
        transparent,
        white
    );
    -webkit-mask: linear-gradient(
        to top,
        transparent,
        white
    );
}
.auth-banner .banner-part::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, #1d0c03, #47382d 75%);
    z-index: 8;
    /* opacity: .8; */
    clip-path: polygon(100% 0, 100% 20%, 31% 100%, 0 100%, 30% 0);
    mask: linear-gradient(
        var(--masking-angle, 0deg),
        transparent,
        white
    );
    -webkit-mask: linear-gradient(
        var(--masking-angle, 0deg),
        transparent,
        white
    );
}
.auth-banner .banner-part .banner-image {
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.auth-banner .banner-part .banner-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(.85);
    z-index: 9;
    animation: popInLeft 800ms cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}
.auth-banner .banner-part .banner-image #motion-shapes {
    z-index: 8;
}

.auth-banner .auth-part {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 8;
    backdrop-filter: blur(2.5px);
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.348));
}
.auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 420px;
    width: 80%;
    height: fit-content;
    gap: .3rem;
    position: relative;
    /* overflow: hidden; */
}
/* auth background */
.auth-parallax {
    display: flex;
    width: 100%;
    height: 490px;
    /* max-height: 350px; */
    /* z-index: -1; */
    position: absolute;
    justify-content: space-between;
    /* overflow: hidden; */
    border-radius: 40px;
}
.auth-parallax .dot {
    aspect-ratio: 1;
    border-radius: 30px;
    filter: opacity(.2);
    background: linear-gradient(115deg, var(--txt-clr-3) 20%, rgba(255,169,146,1) 80%);
    box-shadow: 0 0 10px 10px #000000;
    
}
.auth-parallax .dot:nth-child(1) {
    width: 100px;
    place-self: flex-end;
    transform: translate(-50%, 45%);
    background: linear-gradient(115deg, var(--txt-clr-3) 20%, rgba(255,169,146,1) 80%);
}
.auth-parallax .dot:nth-child(2) {
    width: 100px;
    place-self: flex-start;
    transform: translate(38%, -50%);
    background: linear-gradient(-115deg, var(--txt-clr-3) 20%, rgba(255,169,146,1) 80%);
}

/* auth form */
.auth-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 100%;
    min-height: 490px;
    /* gap: 2rem; */
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(40deg, #00000066, #ffffff46);
    backdrop-filter: blur(5px);
    border: 1px solid;
    border-right-color: #ffffff6e;
    border-top-color: #ffffffa1;
    border-bottom-color: #ffffff3a;
    border-left-color: #ffffff34;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 0 10px 10px #00000049;
}
.auth-container:hover {
    transform: scale(1.05) rotateX(var(--angle-x)) rotateY(var(--angle-y));
}
.auth-heading-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* gap: .3rem; */
}
.auth-heading-container .heading {
    font-family: var(--txt-3);
    font-size: 5rem;
    line-height: 1;
    margin: 0;
    opacity: .8;
    z-index: 2;
    color: transparent;
    position: relative;
    background-clip: text !important;
    background: linear-gradient(90deg, var(--accent-clr-1) 100%, transparent 0);
    background-repeat: no-repeat;
    animation: typewriterAnim 1.2s linear forwards;
}
.auth-heading-line {
    z-index: 1;
    display: inline-flex;
    width: 40%;
    height: 5px;
    border-radius: 100px;
    margin-left: 15%;
    margin-top: -5%;
    background: var(--accent-clr-6);
    opacity: 1;
    transition: all 1s ease-in;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}
.label-container {
    display: inline-flex;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    filter: brightness(1) grayscale(1);
    transition: filter 150ms ease-out;
}
.label-container:hover,
.label-container:focus-within {
    filter: brightness(0.9) grayscale(0);
    transition: filter 150ms ease-in;
}
.label-container .input-container {
    display: inline-flex;
    border: 2.5px solid var(--txt-clr-3);
    border-radius: 40px;
    height: 50px;
    padding: 10px;
    outline: none !important;
}
.label-container .input-container .input {
    border: none !important;
    outline: none !important;
    background: none !important;
    width: 100%;
    color: var(--txt-clr-3);
    font-family: var(--txt-4);
    letter-spacing: .5px;
    font-size: 1.1rem;
    transition: all 300ms linear;
}
.label-container .input-container .input::placeholder {
    color: var(--txt-clr-3);
    opacity: .5
}
.label-container.password-container .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.label-container.label-container.password-container .input-container .password-toggle-container {
    display: inline-flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    justify-content: center;
    filter: brightness(.85);
    transition: filter 250ms ease-out;
}
.label-container.label-container.password-container .input-container .password-toggle-container:hover {
    display: inline-flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    filter: brightness(1);
    transition: filter 250ms ease-out;
}
.auth-form .eye {
    display: inline-flex;
    position: absolute;
    aspect-ratio: 1;
    width: 1.6rem;
    pointer-events: none;
    color: var(--txt-clr-3);
}
.label-container.password-container .input-container #password-toggle {
    display: inline-flex;
    opacity: 0;
    aspect-ratio: 1;
    width: 1.8rem;
    cursor: pointer;
}
.label-container.password-container .auth-forgot-password-link {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -30px;
    margin-right: 10px;
    color: var(--accent-clr-1) !important;
}
.label-container.password-container .auth-forgot-password-link:hover {
    text-decoration: underline !important;
}

.label-container .label {
    display: inline-flex;
    font-size: 1.4rem;
    font-family: var(--txt-1);
    color: var(--txt-clr-3);
    margin-left: 1%;
    transition: all 300ms linear;
}
.auth-btn-redirect-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: .5rem;
}
.auth-redirect-container {
    display: flex;
    width: 100%;
    gap: 5px;
    font-size: 1.1rem;
    color: var(--txt-clr-3);
}
.auth-redirect-container .redirect-link {
    color: var(--accent-clr-1);
}
.auth-redirect-container .redirect-link:hover{
    text-decoration: underline !important;
}
.auth-btn-container {
    display: inline-flex;
}
.auth-btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    border: 3.5px solid var(--txt-clr-3);
    border-radius: 50px;
    transition: all 350ms linear;
    max-width: max-content;
    opacity: .85;
}
.auth-btn:disabled {
    background-color: var(--accent-clr-1);
    border-color: var(--accent-clr-1);
    opacity: .5;
    cursor: not-allowed;
}
.auth-btn:disabled span {
    color: var(--bg-clr-1);
}
.auth-btn span {
    font-size: 1.3rem;
    font-family: var(--txt-1);
    letter-spacing: .5px;
    font-weight: 700;
    color: var(--txt-clr-3);
    filter: saturate(2.5);
    transition: all 350ms linear;
}

.auth-btn:not(:disabled):hover {
    background: var(--txt-clr-3);
    transition: all 350ms linear;
}
.auth-btn:not(:disabled):hover span {
    color: var(--bg-clr-1);
    transition: all 350ms linear;
}

.auth-form-container:hover .reflection {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.auth-form-container:hover .reflection .mouse-shadow {
    border-radius: 50%;
    width: 200px;
    aspect-ratio: 1;
    filter: blur(2rem) opacity(.2);
    background-color: #ffffff;
    left: var(--mouse-x);
    top: var(--mouse-y);
    pointer-events: inherit;
    position: absolute;
    transform: translate(-60%, -60%);
}

/* error */
#error {
    display: flex;
    width: 100%;
    background-color: var(--accent-clr-6);
    font-family: var(--txt-1);
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: .5ex;
    opacity: 1;
    animation: fadeOut 500ms forwards;
    animation-delay: 2s;
}

/* animations */
@keyframes popInLeft {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes popInRight {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes typewriterAnim {
    from {
        background-size: 0% 100%;
    }
    to {
        background-size: 100% 100%;
    }
}

/* media queries */
@media all and (max-width: 575px) {
    .recipes-banner .auth-part {
        backdrop-filter: blur(1.1px) brightness(.9);
    }
    .recipes-banner .auth-part span {
        font-size: 10vmax;
        /* backdrop-filter: brightness(.6); */
        width: 100%;
    }
    .what-can-you-make-section {
        flex-direction: column-reverse;
        padding: 2rem 0 0 0;
    }
    .what-can-you-make-section .section-image {
        position: relative;
        width: 100%;
        z-index: 1;
    }
    .what-can-you-make-section .section-text {
        width: 100%;
        padding: 2rem;
        z-index: 2;
    }
    .what-can-you-make-section .section-text .section-main-link {
        flex-direction: column;
        gap: 0;
    }
}
@media all and (max-width: 767px) and (min-width: 576px) {
    .recipes-banner .auth-part {
        backdrop-filter: blur(1.1px) brightness(.9);
    }
    .recipes-banner .auth-part span {
        font-size: 10vmax;
        width: 100%;
    }
    .what-can-you-make-section {
        flex-direction: column-reverse;
        padding: 2rem 0 0 0;
    }
    .what-can-you-make-section .section-image {
        position: relative;
        width: 100%;
        z-index: 1;
    }
    .what-can-you-make-section .section-text {
        width: 100%;
        padding: 2rem;
        z-index: 2;
    }
    .what-can-you-make-section .section-text .section-main-link {
        flex-direction: column;
        gap: 0;
    }
}