#recipes {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipes-banner {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 4rem;
}
.recipes-banner .banner-part {
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(45deg, #1c160f, #797f54 90%);
    align-self: stretch;
    position: absolute;
    overflow: hidden;
    mask: linear-gradient(
        to top,
        transparent,
        white 45%
    );
    -webkit-mask: linear-gradient(
        to top,
        transparent,
        white 45%
    );
}
.recipes-banner .banner-part::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, #1d0c03, #47382d 75%);
    z-index: 8;
    clip-path: polygon(100% 0, 100% 20%, 31% 100%, 0 100%, 30% 0);
    mask: linear-gradient(
        var(--masking-angle, 0deg),
        transparent,
        white 10%
    );
    -webkit-mask: linear-gradient(
        var(--masking-angle, 0deg),
        transparent,
        white 10%
    );
}
.recipes-banner .banner-part .banner-image {
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.recipes-banner .banner-part .banner-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(.85);
    animation: popInLeft 800ms cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.recipes-banner .banner-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 10;
    backdrop-filter: blur(2.5px);
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.348));
}
.recipes-banner .banner-text span {
    width: 50%;
    text-align: center;
    font-weight: bolder;
    font-family: var(--txt-1);
    font-size: 6vmax;
    line-height: 1.3;
    filter: opacity(0.8);
}
.recipes-banner .banner-text .move-down-icon {
    transform: rotate(90deg);
    font-size: 6rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    background: none;
    color: var(--txt-clr-3);
    cursor: pointer;
    padding: 1rem;
    text-shadow: 8px -5px 18px black;
    transition: all 350ms ease-in-out;
}
.recipes-banner .banner-text .move-down-icon:hover,
.recipes-banner .banner-text .move-down-icon:active,
.recipes-banner .banner-text .move-down-icon:focus {
    transform: rotate(90deg) translateX(-1rem);
    filter: brightness(1.2);
    transition: all 350ms ease-in-out;
    border-radius: 100%;
}

.recipes-banner .banner-text span.underlined {
    background: linear-gradient(to right, rgb(181, 233, 112), rgb(148, 238, 223));
    background-clip: text;
    color: #ffffff3e;
}
.recipes-banner .banner-text span.underlined:nth-child(2) {
    background: linear-gradient(to left, rgb(112, 233, 205), rgb(184, 148, 238));
    background-clip: text;
    color: #ffffff3e;
}
.recipes-banner .banner-text span.underlined::after {
    animation-delay: 450ms !important;
}
.recipes-banner .banner-text a {
    color: inherit;
    text-decoration: underline !important;
    transition: color 250ms ease-in;
}
.recipes-banner .banner-text a:hover,
.recipes-banner .banner-text a:focus {
    color: var(--accent-clr-2);
    transition: color 250ms ease-in;
}

.recipe-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 420px));
    grid-auto-flow: dense;
    gap: 1.5rem;
    width: 100%;
    padding: 0 2.5rem;
}

.store-back-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.store-back-link .back-link {
    display: flex;
    background-color: var(--accent-clr-4);
    background-repeat: no-repeat !important;
    background-clip: text !important;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    font-size: 1.05rem;
    font-family: var(--txt-4);
    font-weight: 600;
    letter-spacing: .5px;
    color: transparent;
}
.store-back-link .back-link div {
    display: inline-flex;
    flex-direction: column;
}
.store-back-link .back-link div .back-link-underline {
    height: 2px;
    background: linear-gradient(270deg, var(--txt-clr-3) 20%, rgba(255,169,146,1) 80%);
    width: 0;
    transition: width 200ms linear;
}
.store-back-link .back-link.hovered {
    background-color: transparent;
    background: linear-gradient(270deg, var(--txt-clr-3) 20%, rgba(255,169,146,1) 80%);
    animation: gradientReveal 800ms linear forwards;
    animation-timing-function: steps(16);
}
.store-back-link .back-link.hovered div .back-link-underline {
    width: 100%;
    transition: width 250ms linear;
    transition-delay: 500ms;
}

.search-result-header > span {
    font-size: 1.4rem;
    font-family: var(--txt-4);
    color: transparent;
    position: relative;
    background-clip: text !important;
    background: linear-gradient(90deg, var(--accent-clr-1) 100%, transparent 0);
    background-repeat: no-repeat;
    animation: typewriterAnim 900ms linear forwards;
    animation-timing-function: steps(var(--queryLength));
}
.search-result-header span span {
    font-weight: 600;
    letter-spacing: .5px;
    color: transparent;
}
.search-result-header span span:not(.zero) {
    animation: textColorize 400ms linear forwards;
    animation-delay: 800ms;
}
.search-result-header span span:nth-child(3) {
    padding: 0 3px;
    word-wrap: break-word !important;
    overflow: hidden;
    max-width: 100%;
}
.search-result-header span span.zero:nth-child(1) {
    animation: textRedden 400ms linear forwards;
    animation-delay: 800ms;
}

/* animations */
@keyframes popInLeft {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes popInRight {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes typewriterAnim {
    from {
        background-size: 0% 100%;
    }
    to {
        background-size: 100% 100%;
    }
}

/* media queries */
@media all and (max-width: 575px) {
    .recipe-items {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1rem;
    }
    .recipes-banner .banner-text {
        backdrop-filter: blur(1.1px) brightness(.9);
    }
    .recipes-banner .banner-text span {
        font-size: 10vmax;
        /* backdrop-filter: brightness(.6); */
        width: 100%;
    }
    .what-can-you-make-section {
        flex-direction: column-reverse;
        padding: 2rem 0 0 0;
    }
    .what-can-you-make-section .section-image {
        position: relative;
        width: 100%;
        z-index: 1;
    }
    .what-can-you-make-section .section-text {
        width: 100%;
        padding: 2rem;
        z-index: 2;
    }
    .what-can-you-make-section .section-text .section-main-link {
        flex-direction: column;
        gap: 0;
    }
}
@media all and (max-width: 767px) and (min-width: 576px) {
    .recipes-banner .banner-text {
        backdrop-filter: blur(1.1px) brightness(.9);
    }
    .recipes-banner .banner-text span {
        font-size: 10vmax;
        width: 100%;
    }
    .what-can-you-make-section {
        flex-direction: column-reverse;
        padding: 2rem 0 0 0;
    }
    .what-can-you-make-section .section-image {
        position: relative;
        width: 100%;
        z-index: 1;
    }
    .what-can-you-make-section .section-text {
        width: 100%;
        padding: 2rem;
        z-index: 2;
    }
    .what-can-you-make-section .section-text .section-main-link {
        flex-direction: column;
        gap: 0;
    }
}